.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  background-color: #190157;
  color: white;
  text-align: center; 
  position: relative;
}

.login-logo-container{
  position: absolute;
  top: 20px;
  left: 20px;
  margin-bottom: 0;
}

.logo_login {
  width: 96px;
  height: 96px;
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -25px;
  margin-bottom: 50px;
}
  
.input-field {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 12px;
  border-radius: 20px;
  margin-bottom: 20px;
  width: 90%;
}
  
.input-field .icon {
  color: black;
  margin-right: 10px;
}

.input-field .icon.email::before {
  content: "✉️";
  font-size: 1.2rem;
  align-items: center;
}

.input-field .icon.password::before {
  content: "🔒";
  font-size: 1.2rem;
  align-items: center;
}
 
.input-field input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 1rem;
  font-family: 'Poppins';
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}
  
p {
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 20px;
}

.login-button-container {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
  
.login-button-v2 {
  background-color: #11A716;
  color: white;
  width: 90%;
  padding: 15px;
  font-size: 1rem;
  font-family: 'Poppins';
  font-weight: bold;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}
  
.login-back-button {
  background-color: white;
  color: black;
  width: 90%;
  padding: 15px;
  font-size: 1rem;
  font-family: 'Poppins';
  font-weight: bold;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.login-button-v2:hover{
  background-color: green;
}

.login-back-button:hover{
  background-color: rgb(178, 173, 173);
}

.success-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  color: #11a716;
  border-radius: 20px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  padding: 40px 50px;
  text-align: center;
  z-index: 1000;
  width: 300px;
  max-width: 90%;
}

.success-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.success-icon {
  font-size: 3rem;
}

.success-content p {
  font-size: 1.5rem;
  margin: 0;
  font-family: 'Poppins';
  font-weight: bold;
}


@media (max-width: 480px) {
  .logo_login {
    width: 96px; 
    height: 96px;
  }

  .login-form {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    margin-bottom: 50px;
  }
    
  .input-field {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 12px;
    border-radius: 20px;
    margin-bottom: 20px;
    width: 90%;
  }

  h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
    
  p {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 20px;
  }
}